<h1>Palindrome Identifier</h1>

<form action="/palindrome">
  <div class="form-group">
    <label for="palindrome">Enter a word and see whether or not it's a Palindrome!
    </label>
      <input id="palindrome" name="palindrome" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-danger">Submit</button>
  </form>
